body {
  background-color: #f5f2df;
  color: #402e2e;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  font-family:'Spectral';
}

.logo {
  width: 71px;
  height: 60px;
}

.menu {
  $breakpoint_tablet: 680px;
  $breakpoint_desktop: 1040px;
  $max_header_width: 1200px;
  $color_background: #FAFAFA;
  $color_background_alt: #e0e5eb;
  $color_text: #121212;
  $color_text_alt: #36bae6;
  $color_border: #e0e5eb;
  $transition_link: .14s ease-in-out;
  $transition_anim: .22s ease-in-out;
}

p {
  font-size: large;
}

.smallblurb {
  font-size: 20px;
  text-align: center;
  font-style: italic;
}

footer {
  background-color: #f5f2df;
  color: #402e2e;
}

footer p{
  font-size: medium;
}

.section {
  //background-color: #402e2e;
  //color: #f5f2df;
  padding: 5%;
  text-align: left;
  border-radius: 80px;
}

.workshopblurb{
  //background-color: #402e2e;
  color: #402e2e;
  padding: 5%;
  text-align: left;
  border-radius: 80px;
}

.twocolumns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;

  @media screen and (min-width: 576px) and (max-width: 992px)
  {
      grid-template-columns: repeat(2, 1fr);
  }
  
  @media screen and (max-width: 576px) {
      grid-template-columns: repeat(1, 1fr);
  }   
}

.deals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;

  @media screen and (min-width: 576px) and (max-width: 992px)
  {
      grid-template-columns: repeat(2, 1fr);
  }
  
  @media screen and (max-width: 576px) {
      grid-template-columns: repeat(1, 1fr);
  }   
}

.aboutLink a:link {
  color: #402e2e;
  font-style: italic;
}

footer {
  background-color: #402e2e;
  color: #f2cb8f;
}

.customButtons {
  background-color: gray;
  padding-left: 2%;
  padding-right: 2%;
  font-size: large;
}

.customButtons:hover {
    opacity: 0.6;
    transition: 1s;
}