body {
  background-color: #f5f2df;
  color: #402e2e;
}

footer {
  background-color: #f5f2df;
  color: #402e2e
}

.section {
  //background-color: #402e2e;
  //color: #f5f2df;
  padding: 5%;
  text-align: left;
  border-radius: 80px;
}

.aboutLink a:link {
  color: #f2cb8f;
}

.link a:hover {
  color: green;
}

footer {
  background-color: #402e2e;
  color: #f2cb8f;
}