$heading-text-colour: #8C0303; // Burnt red
$highlight-colour: #f5840c; // Bright orange
$body-bg: #f5f5f5; // Light grey
$body-text-colour: #0D0D0D; // Dark colour for text
$secondary-highlight: #F2CF66; //Secondary highlight colour
$border-radius: .4rem;